{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'gymapp/stylehome.css' %}">
</head>
<body>
    <h1>Welcome to our Gym Management System</h1>
    <ul>
        <li><a href="/register-member/">Register Member</a></li>
        <li><a href="/register-trainer/">Register Trainer</a></li>
        <li><a href="/register-staff/">Register Staff</a></li>
    </ul>
</body>
</html>
