/* CSS for background image */
body {
    font-family: 'Roboto', sans-serif;
    background: url('gymhome.jpeg') no-repeat center center fixed; 
    /* Additional background properties such as background-size, background-repeat, etc. can be added here */
}

/* Other styles */
h1 {
    color: white; /* Adjust text color */
    text-align: center;
    padding: 20px 0;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

form {
    background-color: rgba(255, 255, 255, 0.7); /* Adjust form background color and opacity */
    padding: 2%; /* Add padding to the form */
    color: rgb(3, 24, 52); /* Adjust text color */
    text-align: center;
    padding: 20px 0;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
form label {
    margin-bottom: 20px; /* Adjust this value as needed */
}

form input[type="text"],
form input[type="file"],
form input[type="name"],
form button[type="submit"] {
    margin-bottom: 20px; /* Adjust this value as needed */
}
button[type="submit"] {
    margin-bottom: 10px; /* Add some spacing between form elements */
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 500px;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 16px;
    color: white;
}
