body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('member.jpg') no-repeat center center fixed; 
    background-size: cover;
}

h1, h2 {
    text-align: center;
    padding: 20px 0;
    font-size: 2.5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px; /* Added this line to create space below the heading */
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin: 20px 0;
    width: 40%; /* Reduced from 50% to 40% */
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px 0;
    color: #333; /* Changed from inherit to #333 for better contrast against the form background */
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="time"], input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 10px; /* Added this line to create space between input fields */
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #6200ee;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Added this line to create space between the form and the next element */
}

input[type="submit"]:hover {
    background-color: #3700b3;
}

p {
    color: #333; /* Changed from inherit to #333 for better contrast against the form background */
}
